<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Regla 1: Redireccionar las URL con una barra final a la misma URL sin la barra -->
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <!-- Ignorar si la URL corresponde a un directorio existente -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <!-- Redireccionar a la URL sin la barra -->
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <!-- Regla 2: Redireccionar todas las demás URL a index.php -->
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <!-- Ignorar si la URL corresponde a un directorio existente -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <!-- Ignorar si la URL corresponde a un archivo existente -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <!-- Reescribir la URL a index.php -->
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
